.leaderboard > table, .leaderboard th, .leaderboard td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}

.leaderboard table tr:first-child {
    background: #bbb7b7;
}

.leaderboard table tr:nth-child(2), 
.leaderboard table tr:nth-child(3), 
.leaderboard table tr:nth-child(4) {
    background: #eeff00;
}